# Dependencies
**/node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
dist/
assets/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env files
.env*.local

# TypeScript build info
*.tsbuildinfo
